# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: EC-CUBE - Nền tảng thương mại điện tử giúp bạn đột phá trong kinh doanh và bán lẻ ở Việt Nam
author: EC-DEV VN
image: /assets/img/ecdev-logo.png
description: >- # this means to ignore newlines until "baseurl:"
  Tạo cửa hàng thương mại điện tử của bạn với EC-CUBE, nền tảng thương mại điện tử tùy biến nhất để xây dựng doanh nghiệp trực tuyến của bạn. Tìm hiểu thêm về EC-CUBE.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://eccube-vn.com" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

twitter:
  username: eccubevn
  card: summary

paginate: 3
paginate_path: "/blog/page:num/"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
