<footer class="footer_nine_area">
    <div class="footer_nine_top">
       <div class="footer_shap left"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget">
                        <a href="/" class="f-logo f_size_30">EC-DEV VN</a>
                        <div class="widget-wrap">
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:eccubedotvn@gmail.com" class="f_300">eccubedotvn@gmail.com</a></p>
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Phone:</span> <a href="tel:097 9244 937" class="f_300">097 9244 937</a></p>
                        </div>

                        <script type="text/javascript">var subscribed=false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
                        onload="if(subscribed) {window.location='/';}"></iframe>
                        <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdJ7BT6yZF-jWBiatC5yPEVGl-pFsKNpgKznNCbkq1Qaani_w/formResponse" class="f_subscribe mailchimp" method="post" target="hidden_iframe" onsubmit="subscribed=true;">
                            <input type="text" name="entry.1045781291" class="form-control memail" placeholder="Đăng ký nhận bản tin">
                            <button class="btn btn-submit" type="submit"><i class="ti-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_40">
                        <h3 class="f-title f_500 f_size_16 mb-30">Về chúng tôi</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="/about">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_500 f_size_16 mb-30">Hỗ Trợ</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="/faq">Các câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_500 f_size_16 mb-30">Liên hệ và hợp tác</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="/contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer_bottom custom_footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <p class="mb-0 f_300">Copyright © {{ 'now' | date: "%Y" }}</p>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        {% include social.html social-class="f_social_icon_two text-center list-unstyled" %}
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <ul class="list-unstyled f_menu text-right">
                            <li><a href="#">Điều khoản</a></li>
                            <li><a href="#">Chính sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>