<header class="header_area">
    <div class="header_area_six">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="header_contact_info list-unstyled">
                            <li>Email: <a href="mailto:{{ site.data.ecdev.phone }}" target="_top">{{ site.data.ecdev.phone }}</a></li>
                            <li>Phone:<a href="#">{{ site.data.ecdev.phone }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        {% include social.html social-class="header_social_icon list-unstyled" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg menu_one menu_four">
        <div class="container">
            <a class="navbar-brand sticky_logo f_size_30" title="EC-DEV VN" href="/">EC-DEV VN</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu_toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu w_menu ml-auto">
                    <li class="nav-item {% if page.active == 'home' %} active {% endif %}">
                        <a class="nav-link" href="/">
                        Trang chủ
                        </a>
                    </li>
                    <li class="nav-item {% if page.active == 'eccube' %} active {% endif %}">
                        <a class="nav-link" href="/eccube" class="nav-link">Về EC-CUBE</a>
                    </li>
                    <li class="nav-item {% if page.active == 'about' %} active {% endif %}">
                        <a class="nav-link" href="/about" class="nav-link">Về EC-DEV VN</a>
                    </li>
                    <li class="nav-item {% if page.active == 'faq' %} active {% endif %}">
                        <a class="nav-link" href="/faq" class="nav-link">Hỗ trợ</a>
                    </li>
                    <li class="nav-item {% if page.active == 'blog' %} active {% endif %}">
                        <a class="nav-link" href="/blog">Tin tức & Sự kiện</a>
                    </li>
                </ul>
            </div>
            <a class="btn_get btn_hover hidden-sm hidden-xs" href="/contact">Liên hệ</a>
        </div>
    </nav>
</header>