<div class="tab-pane fade show active" id="forwho" role="tabpanel" aria-labelledby="forwho-tab">
    <h3 class="f_p f_size_22 f_500 t_color3 mb_20">EC-DEV VN dành cho ai?</h3>
    <div id="accordion2">
        <div class="card">
            <div class="card-header" id="headingTarget">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTarget" aria-expanded="true" aria-controls="collapseTarget">
                    Đối tượng<i class="ti-plus"></i><i class="ti-minus"></i>
                  </button>
                </h5>
            </div>
            <div id="collapseTarget" class="collapse show" aria-labelledby="headingTarget" data-parent="#accordion2">
                <div class="card-body">
                    <div class="job_deatails_content pb-0">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="ti-arrow-right"></i>Muốn sử dụng EC-CUBE nhưng <span class="main_color">không biết bắt đầu như thế nào</span></li>
                            <li class="mb-2"><i class="ti-arrow-right main_color"></i>Không muốn tốn thời gian dành cho việc <span class="main_color">bảo trì hệ thống</span></li>
                            <li class="mb-2"><i class="ti-arrow-right main_color"></i>Về mặt kỹ thuật, các hệ thống khác không <span class="main_color">hổ trợ tùy chỉnh</span></li>
                            <li class="mb-2"><i class="ti-arrow-right main_color"></i>Đang muốn sử dụng một <span class="main_color">nền tảng Open Source</span> uy tín để xây dựng thương mại điện tử</li>
                            <li class="mb-2"><i class="ti-arrow-right main_color"></i>Luôn muốn sử dụng những <span class="main_color">phiên bản mới nhất</span> của EC-CUBE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
  </div>