<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="forwho-tab" data-toggle="tab" href="#forwho" role="tab" aria-controls="forwho" aria-selected="true">EC-DEV VN dành cho ai?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="purchas-tab" data-toggle="tab" href="#purchas" role="tab" aria-controls="purchas" aria-selected="false">EC-CUBE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="care-tab" data-toggle="tab" href="#care" role="tab" aria-controls="care" aria-selected="false">Yêu cầu hệ thống</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="returns-tab" data-toggle="tab" href="#returns" role="tab" aria-controls="returns" aria-selected="false">Tính năng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="false">Các cách xây dựng cửa hàng online</a>
    </li>
</ul>