<div class="tab-pane fade" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
  <h3 class="f_p f_size_22 f_500 t_color3 mb_20">EC-CUBE</h3>
  <div id="accordion">
      <div class="card">
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              EC-CUBE là gì?<i class="ti-plus"></i><i class="ti-minus"></i>
              </button>
              </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  <p>EC-CUBE là EC Open Source※ được chọn sử dụng nhiều nhất tại Nhật Bản</p>
                  <p>"EC-CUBE" là sản phẩm của công ty cổ phần Lockon được phát hành dưới dạng "Open Source" để ai cũng có thể tải về và sử dụng/ chỉnh sửa hoàn toàn miễn phí. Vì nó đã tích hợp những chức năng cần thiết nên có thể mở shop ngay lập tức. Người dùng cũng có thể tự do chỉnh sửa nên nếu tùy chỉnh có thể tạo ra những trang web bán hàng đa dạng mà dịch vụ ASP không thể làm được như đặt hàng qua mạng, đặt hàng tùy chỉnh v.v. Ngoài ra, người dùng có thể tạo ra những nền tảng mua sắm độc đáo với sự kết hợp vô hạn những dịch vụ liên quan đến EC khác nhau trong đời thực không chỉ nằm trong phạm vi mạng như phân phối, thanh toán, quảng cáo.</p>
                  <small>※ Dựa theo "Khảo sát tình hình kinh doanh và sử dụng Open Source Software thứ 3" của tổ chức xúc tiến Công nghệ Thông tin Cục Hành chính Pháp nhân độc lập Nhật Bản.</small>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Open Source là gì?<i class="ti-plus"></i><i class="ti-minus"></i>
          </button>
              </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  "Open Source" là phần mềm công khai mã nguồn miễn phí. 
                  EC-CUBE là "nguồn mở" (Open Source) có thể được tải xuống miễn phí bất cứ lúc nào và tùy chỉnh mã nguồn một cách tự do. 
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingLicense">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLicense" aria-expanded="false" aria-controls="collapseLicense">
                  Về giấy phép sử dụng<i class="ti-plus"></i><i class="ti-minus"></i>
          </button>
              </h5>
          </div>
          <div id="collapseLicense" class="collapse" aria-labelledby="headingLicense" data-parent="#accordion">
              <div class="card-body">
                  Để sử dụng Open Source EC-CUBE, chúng tôi áp dụng "phương thức cấp phép kép" có thể lựa chọn "giấy phép miễn phí" và "giấy phép thương mại".Để biết thêm thông tin chi tiết, xin hãy xem thêm <a href="https://ec-cube.vn/license/business.html" title="Giấy phép của EC-CUBE">thông tin về giấy phép của EC-CUBE</a>.
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingDifferent">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDifferent" aria-expanded="false" aria-controls="collapseDifferent">
                  Khác biệt với những dịch vụ tạo Web EC/online shop khác<i class="ti-plus"></i><i class="ti-minus"></i>
          </button>
              </h5>
          </div>
          <div id="collapseDifferent" class="collapse" aria-labelledby="headingDifferent" data-parent="#accordion">
              <div class="card-body">
                  <p>Những dịch vụ như trang thương mại điện tử hay ASP thì có thể có chi phí thấp và dễ sử dụng lúc mới khởi đầu nhưng có nhược điểm là sẽ tốn chi phí hàng tháng khi tiếp tục sử dụng, khó tạo nên sự độc đáo trong một màn hình khuôn mẫu và tương lai cũng không thể tùy chỉnh một cách tự do. Ngoài ra nếu như bản thân dịch vụ đó ngừng hoạt động thì shop mở trên nền tảng dịch vụ đó cũng đóng cửa theo.</p>
                  <p>Tự tạo trang tuy có thể tự do tùy chỉnh về mặt chức năng lẫn thiết kế nhưng vì bắt đầu từ con số không nên chi phí để phát triển sẽ rất cao. EC-CUBE được cung cấp dưới dạng Open Source nên những chức năng cơ bản đều được tích hợp và hoàn toàn miễn phí. Vì nó có được yếu tố giá thành rẻ của Shopping Mall và ASP, yếu tố tự do tùy chỉnh của tự tạo trang nên nó được rất nhiều chủ shop sử dụng để tạo trang web từ quy mô nhỏ đến quy mô lớn.</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingCompare">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCompare" aria-expanded="false" aria-controls="collapseCompare">
                  Ưu nhược điểm khi so sánh với những dịch vụ tạo Web EC/online shop khác<i class="ti-plus"></i><i class="ti-minus"></i>
          </button>
              </h5>
          </div>
          <div id="collapseCompare" class="collapse" aria-labelledby="headingCompare" data-parent="#accordion">
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col"></th>
                              <th scope="col"><span class="text-primary">Ưu điểm</span></th>
                              <th scope="col"><span class="text-danger">Nhược điểm</span></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">Trang thương mại điện tử</th>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-check"></i>Bắt đầu với giá thành rẻ</li>
                                          <li class="mb-2"><i class="ti-check"></i>Có sẵn những chức năng thông thường</li>
                                          <li class="mb-2"><i class="ti-check"></i>Có tính thu hút khách</li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Tốn phí sử dụng hằng tháng, phí bản quyền</li>
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Cạnh tranh cao, tốn phí thu hút khách cá nhân</li>
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Có luật như cấm liên kết bên ngoài</li>
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Không thể tùy chỉnh Chức năng hay thiết kế</li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">ASP</th>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-check"></i>Bắt đầu với giá thành rẻ</li>
                                          <li class="mb-2"><i class="ti-check"></i>Có sẵn những chức năng thông thường</li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Số sản phẩm tăng thì sẽ tốn phí sử dụng hằng tháng</li>
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Nguy cơ dịch vụ ASP ngưng hoạt động</li>
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Không thể tùy chỉnh chức năng hay thiết kế</li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tự tạo trang</th>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-check"></i>Tự do tạo chức năng lẫn thiết kế</li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Tốn rất nhiều thời gian và tiền phí để phát triển, bao gồm những chức năng cơ bản của EC</li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">EC-CUBE</th>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-check"></i>Sử dụng ứng dụng miễn phí</li>
                                          <li class="mb-2"><i class="ti-check"></i>Giỏ hàng là một chức năng cơ bản</li>
                                          <li class="mb-2"><i class="ti-check"></i>Có thể tự do tạo chức năng lẫn thiết kế như tự tạo trang</li>
                                          <li class="mb-2"><i class="ti-check"></i>Đa dạng lựa chọn cho dịch vụ EC</li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  <div class="job_deatails_content pb-0">
                                      <ul class="list-unstyled mb-0">
                                          <li class="mb-2"><i class="ti-close text-danger"></i>Cần phải tự thu hút khách hàng</li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div> <!-- End -->
</div>