<div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">
  <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Các cách xây dựng cửa hàng online</h3>
  <div id="accordion4">
      <div class="card">
          <div class="card-header" id="heading15">
              <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                    Thông qua EC-DEV VN<i class="ti-plus"></i><i class="ti-minus"></i>
              </button>
              </h5>
          </div>
          <div id="collapse15" class="collapse show" aria-labelledby="heading15" data-parent="#accordion4">
              <div class="card-body">
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-headphone-alt main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Gởi yêu cầu</h3>
                            <p>
                                Vui lòng liên hệ với chúng tôi tại địa chỉ eccubedotvn@gmail.com hoặc số điện thoại 097 9244 937, cùng với các yêu cầu và ngân sách mong muốn của bạn.
                                Chúng tôi sẽ lắng nghe mong muốn của bạn, tóm tắt các yêu cầu và đưa ra báo giá.
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-layout-accordion-list main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Cung cấp thông tin</h3>
                            <p>Chúng tôi sẽ xây dựng cửa hàng online theo yêu cầu của bạn. Và mọi thông tin đăng nhập sẽ được gửi đến địa chỉ email mà bạn đã cung cấp</p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-crown main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Bắt đầu sử dụng</h3>
                            <p>
                                Cửa hàng của bạn đã sẵn sàng và có thể bắt đầu sử dụng ngay.<br>
                                Vui lòng đăng nhập vào màn hình quản lý và bắt đầu sử dụng.
                            </p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="heading16">
              <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                  Tự xây dựng - Khai trương cửa hàng online theo ý muốn của bạn!<i class="ti-plus"></i><i class="ti-minus"></i>
          </button>
              </h5>
          </div>
          <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion4">
              <div class="card-body">
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-server main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Chọn server</h3>
                            <p>
                                Kiểm tra yêu cầu hệ thống , chuẩn bị máy chủ để cài đặt EC-CUBE. <br>
                                <a href="https://ec-cube.vn/developers/index.html" target="_blank" title="Thông tin phát triển"><i class="ti-arrow-right"></i> Thông tin phát triển</a><br>
                                Thuê Server để cài đặt EC-CUBE theo yêu cầu hệ thống như trên
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-cloud-down main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Tải xuống EC-CUBE</h3>
                            <p>
                                Kiểm tra phiên bản, tải xuống và cài đặt EC-CUBE.<br>
                                <a href="https://ec-cube.vn/ec-cube-vn-4.0.1.zip" title="Tải miễn phí EC-CUBE"><i class="ti-arrow-right"></i> Tải miễn phí EC-CUBE</a>
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-credit-card main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Áp dụng phương pháp thanh toán</h3>
                            <p>
                                Vì mất hơn một tháng để áp dụng thanh toán thẻ tín dụng, bao gồm cả việc kiểm tra thẻ.<br>
                                Do đó để sử dụng cùng lúc với việc mở cửa hàng, bạn nên áp dụng càng sớm càng tốt.
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-brush main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Tùy chỉnh giao diện</h3>
                            <p>
                                Tiến hành thay đổi bố cục và thiết kế.<br>
                                Tự do chọn mẫu thiết kế yêu thích của mình từ CỬA HÀNG và thêm các tính năng.
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-settings main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Đăng ký sản phẩm & cài đặt chung</h3>
                            <p>
                                Thiết lập "Quản lý thông tin cơ bản" từ màn hình quản lý.<br>
                                Kiểm tra thông tin đăng ký sản phẩm, hoạt động mua hàng, nội dung Email, v.v.
                            </p>
                        </div>
                    </div>
                    <div class="media payment_service_item align-items-center pr-0 mb-3">
                        <div class="icon f_size_24 d-flex align-items-center justify-content-center">
                            <i class="ti-crown main_color"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_16 mb-1">Ra mắt cửa hàng Online</h3>
                            <p>
                                Xin chúc mừng! <br>
                                Hãy cho chúng tôi biết trang web EC đã hoàn thành của bạn!
                            </p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>