<div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
    <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Các tính năng được hỗ trợ</h3>
    <div id="accordion3">
        <div class="card">
            <div class="card-header" id="headingTax">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTax" aria-expanded="true" aria-controls="collapseTax">
                        Hỗ trợ thuế<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTax" class="collapse show" aria-labelledby="headingTax" data-parent="#accordion3">
                <div class="card-body">
                    Có thể đáp ứng ngay cả khi có các sửa đổi về luật thuế.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingMultiAddress">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMultiAddress" aria-expanded="false" aria-controls="collapseMultiAddress">
                        Giao hàng nhiều địa chỉ<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseMultiAddress" class="collapse" aria-labelledby="headingMultiAddress" data-parent="#accordion3">
                <div class="card-body">
                    Cài được nhiều địa chỉ giao hàng trong 1 lần đặt hàng.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingMultiDevices">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMultiDevices" aria-expanded="false" aria-controls="collapseMultiDevices">
                        Đa thiết bị<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseMultiDevices" class="collapse" aria-labelledby="headingMultiDevices" data-parent="#accordion3">
                <div class="card-body">
                    Trang bị tính linh hoạt đáp ứng đa thiết bị. Bạn có thể sử dụng với bất kỳ thiết bị nào.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingBill">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBill" aria-expanded="false" aria-controls="collapseBill">
                        Xuất hóa đơn<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseBill" class="collapse" aria-labelledby="headingBill" data-parent="#accordion3">
                <div class="card-body">
                    Có thể tùy chỉnh mẫu của hóa đơn bán lẻ và hóa đơn giao hàng.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingManageTheme">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseManageTheme" aria-expanded="false" aria-controls="collapseManageTheme">
                        Quản lý giao diện<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseManageTheme" class="collapse" aria-labelledby="headingManageTheme" data-parent="#accordion3">
                <div class="card-body">
                    Có thể tự do thay đổi giao diện và thiết kế cho từng khu vực khác nhau.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingManageUser">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseManageUser" aria-expanded="false" aria-controls="collapseManageUser">
                        Quản trị viên<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseManageUser" class="collapse" aria-labelledby="headingManageUser" data-parent="#accordion3">
                <div class="card-body">
                    Đăng ký bằng nhiều quản trị viên, Cấp tài khoản riêng cho quản trị viên.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingIncome">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseIncome" aria-expanded="false" aria-controls="collapseIncome">
                        Thống kê doanh thu<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseIncome" class="collapse" aria-labelledby="headingIncome" data-parent="#accordion3">
                <div class="card-body">
                    Hiển thị kết quả thống kê doanh thu theo mốc thời gian, sản phẩm và năm.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingAds">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAds" aria-expanded="false" aria-controls="collapseAds">
                        Email Quảng Cáo<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseAds" class="collapse" aria-labelledby="headingAds" data-parent="#accordion3">
                <div class="card-body">
                    Có thể thực hiện gửi email quảng cáo HTML/TEXT.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPlugins">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePlugins" aria-expanded="false" aria-controls="collapsePlugins">
                        Các tính năng mở rộng<i class="ti-plus"></i><i class="ti-minus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapsePlugins" class="collapse" aria-labelledby="headingPlugins" data-parent="#accordion3">
                <div class="card-body">
                    <p>Hơn 800 plugin và mẫu thiết kế có sẵn.</p>
                    <div class="job_deatails_content">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="ti-arrow-right"></i>Đánh giá sản phẩm</li>
                            <li class="mb-2"><i class="ti-arrow-right"></i>Quản lý mã khuyến mãi</li>
                            <li class="mb-2"><i class="ti-arrow-right"></i>Tích hợp cổng thanh toán</li>
                            <li class="mb-2"><i class="ti-arrow-right"></i>Mua hàng đổi điểm</li>
                            <li class="mb-2"><i class="ti-arrow-right"></i>Sắp xếp sản phẩm</li>
                            <li class="mb-2"><i class="ti-arrow-right"></i>Tùy chỉnh giao diện</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   